/* General styles */
img {
    width: 50px;
}

/* Navbar styles */
.navbar {
    justify-content: space-between;
    display: flex;
    background-color: rgb(87, 79, 79);
    padding: 10px; /* Add some padding */
}

h3 {
    color: white;
    margin-right: 50px;
}

/* Carousel styles */
.carousel-item img {
    height: 500px; /* Adjust the height as needed */
    object-fit: contain;
    background-color: black;
}

.carousel-item {
    position: relative;
    height: 100vh; /* Adjust based on your design */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button {
    position: absolute;
    bottom: 20px; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
}

/* Additional styles */
.footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.carson {
    width: 300px; /* Corrected space issue */
    border: 50px solid #ccc; /* Specify a border color */
}
.lonely {
    width: 300px; /* Corrected space issue */
    border: 50px solid #ccc; /* Specify a border color */
}
.rap{
    display: flex;
    justify-content: space-around;
}
